body {
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: #FF7F00;
}
h1,
h2 {
    text-align: center;
}

.input-container {

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#input-todo {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 20px;
    background-color: #fff;
    transition: all 0.3s ease;
    outline: none; /* Remove default focus outline */
    width: 250px;
}

#add-todo {
    border: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-size: 20px;
    background-color: #90EE90;
    transition: all 0.3s ease;
    cursor: pointer;
    outline: none;
}

#add-todo:hover {
    background-color: #7ACD40;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

.todo-container {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo {
    background-color: #555555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0px 10px;
    font-size: 1.2rem;
}

.actions>form {
    display:inline;
}

.actions > form > button {
    font-family: Arial, sans-serif;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 10px;
}

.actions > form > button.edit-button {
    background-color: #dc6624;
}

.actions > form > button.edit-button:hover {
    background-color: #7ACD40;
}

.actions {
    display: flex;
    align-items: center;
    gap: 10px;
}

.todo input[type="checkbox"] {
    width: 24px;
    height: 24px;
}

.todo input[type="checkbox"]:checked ~ p {
    text-decoration: line-through;
    color: #FF7F00;
}

.search-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search-form {
    position: relative;
}

.search-input {
    border: 2px solid #ccc;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 19px;
    transition: all 0.3s ease;
}

.search-input:focus {
    outline: none;
    border-color: #FF7F00;
    box-shadow: 0 0 5px rgba(255, 127, 0, 0.5);
}

.search-button {
    border: none;
    background-color: #FF7F00;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 5px;
}

.search-button:hover {
    background-color: #FFA500;
    box-shadow: 0 0 5px rgba(255, 127, 0, 0.5);
}

.timestamp {
    margin-right: -650px;
}







